<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Elementals</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <header>
            <h1 class="logo">
                <img src="img/gameLogo1.png" class="logoImage" alt="logo">
                <span class="word1">HERO</span>
                <span class="word2">battles</span>
            </h1>
        </header>
