<head th:fragment="head">
    <title>Elementals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<header>
    <h1 class="logo" th:fragment="header">
        <img src="/img/gameLogo1.png" class="logoImage" alt="logo">
        <span class="word1">HERO</span>
        <span class="word2">battles</span>
    </h1>
</header>
